<h1 mat-dialog-title>Deletar Post</h1>
<div mat-dialog-content>
  <p>Você quer deletar esse post?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="noClick()">Não</button>
  <button mat-button (click)="yesClick()">Sim</button>
</div>