mat-toolbar {
    background-color: #E6E6E6;

    .tolbar_end {
        flex: 1 1 auto;
    }

    mat-icon {
        height: 24px;
        width: 24px;
    }
}

section {
    padding: 30px;
    mat-card {
        width: 300px;
        margin-bottom: 30px;
    }
    mat-card-actions {
        margin: -35px 0 20px 0;
        padding: 0;
        button {
            margin: 0 5px;
            background-color: #FCFCFC;
            box-shadow: 0px 1px 5px rgb(182, 182, 182);
        }
    }
    mat-card-content p {
        line-height: 20px;
    }
    .author {
        img {
            border-radius: 100%;
            margin-right: 10px;
            vertical-align: middle;
        }
        a {
            color: blue;
            text-decoration: none;
        }
    }
}