<mat-toolbar>
  <span class="tolbar_end"></span>
  <button mat-raised-button (click)="newPost()">
    <mat-icon><i class="material-icons md-48">playlist_add</i></mat-icon>
  </button>
</mat-toolbar>

<section fxLayout="row warp" fxLayoutGap="30px">
  <mat-card *ngFor="let post of posts">
    <img width="300" height="150" src="{{post.img}}" mat-card-image>

    <mat-card-actions align="end">
      <button (click)="editPost(post)" mat-icon-button>
        <mat-icon><i class="material-icons md-34">create</i></mat-icon>
      </button>
      <button (click)="deletePost(post.id)" mat-icon-button>
        <mat-icon><i class="material-icons md-34">clear</i></mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-title>{{post.title}}</mat-card-title>

    <mat-card-content>
      <p>{{post.content}}</p>
      <p class="author"><img width="30" height="30" src="assets/imgs/avatar.jpg" alt=""> By <a
          href="#">{{post.author}}</a></p>
    </mat-card-content>

  </mat-card>
</section>