<div mat-dialog-content fxLayout="column warp">
  <h1 mat-dialog-title>Novo Post</h1>
  <mat-form-field>
    <input matInput [(ngModel)]="post.author" placeholder="Nome">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="post.title" placeholder="Titulo">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="post.content" placeholder="Conteúdo">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="post.img" placeholder="Imagem">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="noClick()">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!post" (click)="create()">Publicar</button>
</div>